<html>
    <head>
        <meta charset="UTF-8">
            <title>anniversaire</title>
                <link rel="stylesheet"href="./../css/topsecret.css">
    </head>
                    <form action="../topsecret.php" method="POST">
                        <h1>bonne anniversaire!!!</h1> 
                        <p>     bravo, si tu es arriver jusqu'a la c'est que tu 
                            <br>a réussie mon quizz mais il reste une dernière 
                            <br>étape,trouver ton cadeaux et pour cela je vais 
                            <br>te donner un indice qui est  </p>
</html>